.card {
  background-color: var(--surface-card);
  border-radius: var(--border-radius);
  border: 1px solid var(--surface-border);
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

ul,
body,
h1 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}
