.header {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  :global(.p-dropdown) {
    width: 10rem;
  }
}

.contentBinContainer {
  display: flex;
  gap: 1rem;
}

.contentBin {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.groupHeader {
  display: flex;
  gap: 0.25rem;
  font-weight: 500;
  background-color: var(--surface-c);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.groupContent {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.2s ease;
}
.groupContent.collapsed {
  grid-template-rows: 0fr;
}
.groupContent > ul {
  overflow: hidden;
}

.listSeparator {
  padding: 0.25rem 0;
  &:not(:first-child) {
    border-top: 1px solid var(--surface-border);
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  &:hover {
    background-color: var(--surface-hover);
  }
  &.selected {
    cursor: default;
    background-color: var(--highlight-bg);
    color: var(--highlight-text-color);
  }
}

.text-ellipsis {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected i {
  cursor: pointer;
  &.disabled {
    cursor: default;
    color: var(--text-color-secondary);
  }
}

.item.selected + .item {
  border-top: none;
}
