.header {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  :global(.p-dropdown) {
    width: 10rem;
  }
}

@supports (display: grid-lanes) {
  .content {
    display: grid-lanes;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

@supports not (display: grid-lanes) {
  .content {
    columns: 16rem;
    column-gap: 2rem;
    & > * {
      break-inside: avoid;
      margin-bottom: 2rem;
    }
  }
}

.groupHeader {
  display: flex;
  font-weight: 500;
  margin-bottom: 0.5rem;
  .count {
    margin-left: auto;
  }
}

.item {
  cursor: pointer;
  padding: 0.5rem;
  border-top: 1px solid var(--surface-border);
  &:hover {
    background-color: var(--surface-hover);
  }
}
