.deckGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 367px);
  grid-auto-rows: 200px;
  gap: 1rem;
}

.deck {
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: var(--surface-card);
}
