.league-grid {
  display: grid;
  padding: 4rem;
  grid-template-columns: repeat(auto-fit, 25rem);
  grid-auto-rows: 15rem;
  gap: 1rem;
  justify-content: center;
}

.card {
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: var(--surface-card);
}

.card-header {
  font-weight: 500;
  padding: 1rem;
}

.new {
  background-color: transparent;
  border: 3px dashed var(--primary-color);
  display: grid;
  place-items: center;
}

.actions {
  display: flex;
  flex-direction: column;
}
