.header {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  :global(.p-dropdown) {
    width: 10rem;
  }
}

@supports (display: grid-lanes) {
  .content {
    display: grid-lanes;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

@supports not (display: grid-lanes) {
  .content {
    columns: 16rem;
    column-gap: 2rem;
    & > * {
      break-inside: avoid;
      margin-bottom: 2rem;
    }
  }
}

.groupHeader {
  display: flex;
  gap: 0.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  .count {
    margin-left: auto;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  padding: 0.5rem;
  border-top: 1px solid var(--surface-border);
  &:hover {
    background-color: var(--surface-hover);
  }
  &.selected {
    cursor: default;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    background-color: var(--highlight-bg);
    color: var(--highlight-text-color);
  }
}

.selected i {
  cursor: pointer;
  &.disabled {
    cursor: default;
    color: var(--text-color-secondary);
  }
}

.item.selected + .item {
  border-top: none;
}
