.small-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: none;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
  &:hover {
    color: var(--highlight-text-color);
    background-color: var(--highlight-bg);
  }
}
