.tradePreview {
  overflow: hidden;
}

.tradePreviewGrid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 1rem;
}

.itemsPreview {
  border-radius: var(--border-radius);
  background-color: var(--surface-ground);
  min-width: 0;
}

.itemsPreviewScroller {
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;
  padding: 1rem;
  height: calc(200px + 2rem);
}

.itemsPreviewCard {
  height: 200px;
  flex: 0 0 auto;
}

.topRight {
  position: absolute;
  top: 0;
  right: 0;
}
