.tradePreview {
  overflow: hidden;
}

.tradePreviewHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.tradePreviewGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.itemsPreview {
  border: 1px solid var(--surface-border);
  border-radius: var(--border-radius);
  background-color: var(--surface-ground);
  min-width: 0;
}

.itemsPreviewScroller {
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;
  padding: 1rem;
  height: calc(200px + 2rem);
}

.itemsPreviewCard {
  height: 200px;
  flex: 0 0 auto;
}
